body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar {
    display: flex; /* מסדר את הלוגו והטקסט באותו קו */
    align-items: center; /* מרכז אנכית */
    justify-content: space-between; /* מרכז אופקית */
    background-color: rgb(6, 1, 1); /* צבע רקע לבן */
    color: #000; /* צבע טקסט */
    padding: 20px; /* רווח פנימי */
    flex: 0 0 15%;
    font-weight: bold; /* הדגשת הטקסט */
    font-size: 250%; /* גודל טקסט גדול יותר */
   padding-top: 15px;
}

.logo {
    position: absolute;
    left: 30px;
    top: -5px;
    font-size: 250%; /* גודל גדול יותר ללוגו */
    font-weight: bold; /* הדגשת הלוגו */
}

.logo-green {
    background: linear-gradient(to bottom left, rgb(255, 204, 38), rgb(184, 184, 17)); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    margin-left: -10px;
}

.logo-orange {
  background: linear-gradient(to bottom left, rgb(255, 199, 23), rgb(214, 214, 150)); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    margin-right: 4px;
}
.dotes{position: relative;
    
}
.dots2{position: absolute;
    color:rgb(255, 199, 23);
    font-size: 100px;
    left: 174px;
    top: -125px;
    /*animation: rotate 10s linear infinite; animation-delay: 15s;*/
    
}
.dots1{position: absolute;
    color:rgb(255, 199, 23);
    font-size: 100px;
    left: 187px;
    top: -105px;
    /*animation: rotate 10s linear infinite; animation-delay: 15s;*/

}


.nav-text {
    position: absolute; /* מסדר את המילים באותו קו */
    flex-wrap: wrap; /* מאפשר למילים לעבור לשורה הבאה אם יש צורך */
    right: 50px; /* מרכז אופקית את הטקסט
    
    animation: move 10s linear infinite;*/
    background: linear-gradient(to bottom left, rgb(255, 199, 23) , rgb(214, 214, 150));
    -webkit-background-clip: text; /* Clip background to text */
    -webkit-text-fill-color: transparent; /* Make the text fill transparent */
}


.nav-green {
    color: rgb(255, 199, 23); /* ירוק כהה */
}

.nav-orange {
    
    margin-left:15px ;
}

.controls {
    background-color: #000;
    padding: 10px;
    flex: 0 0 30%;
    max-height: 130px;
    display: flex;
    justify-content: right; /* מפזר את הפקדים באופן שווה */
    padding: 10px 10px;
}
.control {
    display: inline-block;
    flex: 1; /* כל פקד תופס אחוז שווה מהרוחב */
    margin: 0 20px; /* רווח בין הפקדים */
    background-color: #01060b; /* צבע רקע לפקדים */
    color:rgb(255, 199, 23); /* צבע טקסט */
    text-align: center; /* מרכז את הטקסט */
    border-radius: 15px; /* פינות מעוגלות */
    font-size: 200%; /* גודל טקסט */
    width: 160px;
    height: 100px;
    align-content: center;
    box-shadow: 10px 10px 5px 5px #303132;
    animation: grow 2s ease-in-out forwards; /* Default animation */
    text-decoration: none;
}
.main-content {
    display: flex;
    background-color: #000;;
    justify-content: space-between;
    padding: 10px;
    flex: 0 0 60%;
    margin-top: 0%;
    max-height: 70%;
}
.image{
    display: flex;
    width:35%;
    background-image:url('backreka.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding:  0%;margin: 0%;
    margin-top: 90px;

}
 .divR{
    width: 65%;
    height: 100%;
    margin-top: 0px;
}


.footer {
    background-color: rgb(6, 1, 1);
    color: white;
    padding: 0px;
    flex: 0 0 5%;
    margin-top: 1px;
}






@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

#rotating {
    display: inline-block; /* Necessary for transform to work */
    animation: rotate 10s linear infinite; animation-delay: 10s;
    
}
p{
    color: aliceblue;
    font-size: 25px;
    margin-right: 10px;
    word-break: keep-all;
}

 
