body {
            
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  height: 100%;
  margin: 0px;
}


  
 .list{
    display: none;
    flex-direction:column;
    max-height: 50px;
    width: auto;
             
}
.shimushi{
display: flex;
flex-direction:column;
max-height: 60px;
width: auto;
color: white;
}
.main{
     display: flex;
     heigt: 100%;
     margin: 0px;
     flex-direction: column;
}
header {
  background: linear-gradient(to bottom, blue, lightblue, white);
  color: white;
  padding: 20px 0;
  text-align: center;
  margin:0px 35px;
}

h1 {
  margin: 0;
}

nav {
width: 100%;
display:flex;
flex-direction: row;
  cursor: pointer;
  margin: 20px 0;
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {font-family: Arial, sans-serif;
  color: white;

}

footer {
  text-align: center;
  padding: 10px 0;
  background: linear-gradient(to bottom, blue, lightblue, white);
  color: white;
  position: relative;
  bottom: 0;
  
  margin:0px 35px;
}
