
html, body {
    height: 100%; 
    margin: 0; 
    
    
}

body {
    background-image: url('backreka.png'); 
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
    font-family: Arial, sans-serif;
}
select, .lblselect{
    border: none;
    font-size: 20px;
    width: 250px;
    padding-right: 5px;
    background-color: aliceblue ;
}

.lblselect{margin-right: 4px;}



.dropbtn{
    width: 35px;
    height: 35px;
    right: 150px;
    top:25px;
    cursor: pointer;
    border: none;
    position: absolute;
    padding-bottom: 5px;
}
.dropdown-item{
    display: none;
    position: absolute;
    top:34px;
    right: 0px;
    width: 250px;
    background-color: aliceblue;
}

.dropbtn:hover .dropdown-item{
    flex-direction: column;
     display: flex;
     justify-content: first baseline;
     
    }
select option:hover option{background-color: aliceblue;}



