
html, body {
    height: 100%; 
    margin: 0; 
    
    
}

body {
    background-color: rgb(247, 247, 235);
    
    font-family: Arial, sans-serif;
    position: relative;
}

.imag-cont{
    width: 100vw; /* Full width */
    height: 100vh; /* Full viewport height */
    
    background-image: url('backreka.png'); /* Set background image */
    background-size: contain; /* Ensure the image scales with the container */
    background-repeat: no-repeat; /* No repeating */
    background-position: center; /* Center the image */
    position: relative;
    margin-top: 40px;
}
select, .lblselect{
    border: none;
    font-size: 15px;
    color: rgb(17, 109, 30);
    width: 150px;
    padding-right: 5px;
    background-color: rgb(252, 247, 228);;
}

.lblselect{margin-right: 4px;}

.dropbtndiv{
    position: relative;
    right: 5%;
    top: 0%;
    z-index: 1;
}

.dropbtn{
    width: 35px;
    
    height: 35px;
    right: 35%;
    top:10%;
    cursor: pointer;
    border: none;
    position: fixed;
    padding-bottom: 5px;
    z-index: 2;
    
}
hr{width: 15px;}
.dropdown-item{
    display: none;
    position: absolute;
    top:34px;
    right: -0px;
    width: 150px;
    background-color: rgb(252, 247, 228);
}

.dropbtn:hover .dropdown-item{
    flex-direction: column;
     display: flex;
     justify-content: first baseline;
     z-index: 1;
    }



